@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    background-color:  hsl(212, 45%, 89%);
    
}
.centralizador {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.fundo {
    background-color:  hsl(0, 0%, 100%);
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 15px;
}

.code {
    width: 13rem;
    height: 13rem;
    background-image: url('../images/image-qr-code.png');
    background-position: center;
    background-size: 100% auto;
    border-radius: 8px;
    margin: 10px;
    
}



.descricao-code h1 {
    display: flex;
    padding-top: 10px;
    text-align: center;
    margin-left: 7px;
    width: 200px;
    font-size: 16px;
    color: hsl(218, 44%, 22%);
    font-weight: bold;
    font-family: 'Outfit', sans-serif;
    
    
}

.descricao-code p {
    text-align: center;
    width: 220px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 13px;
    color: hsl(220, 15%, 55%);
    
}

.attribution {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 20px;
}






